* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 20px 0 20px 0px;
}

aside {
  border-right: 1px solid #111;
  padding: 0px 20px;
}

.container {
  display: flex;
}

aside button {
  cursor: pointer;
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  font-weight: bold;
  /* border: 1px solid #111; */
}

main {
  margin-left: 20px;
}
main h2 {
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-weight: 400;
  border-bottom: 1px solid #111;
  margin-bottom: 20px;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
}

#delete-users {
  background-color: rgb(126, 21, 21);
  color: #fff;
}
